@using Microsoft.Extensions.Options;
@inject IOptions<AMS.Models.CommonViewModel.ApplicationInfo> _ApplicationInfo;

<footer class="main-footer">
    <div class="row">
        
        <div class="col-sm-12 text-right d-none d-sm-inline-block">
            @_ApplicationInfo.Value.Version
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        SetHeaderElements('panelHeaderElements');
        SetFooterElements('divContactDetails');
    });
</script>
