@model AMS.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-lg-5" id="form-section">
            <div id="auth-logo">
                <h1 style="color: white;"><b>Asset M@nagement System</b></h1>
            </div>

            <div id="auth-form">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                <form id="frmForgotPassword">
                    <div>
                        <label asp-for="Email"></label>
                        <div class="input-group mb-3">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <input type="button" id="btnForgotPassword" class="btn btn-primary btn-block btn-flat"
                        onclick="ForgotPassword()" value="Reset Password" />
                </form>
                <hr />
                <p class="mb-0">
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center">Register a
                        new membership</a>
                </p>
            </div>

            <div class="text-center">
                <a asp-action="Login" class="text-primary m-l-5"><b>Sign In</b></a>
            </div>
            <br /><br />
            <div class="text-center">
                <img src='~/images/AMS.png' alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3 imgCustom200pxCircle">
            </div>
        </div>


        <div class="col-lg-7 visible-lg" id="background-section">
        </div>
    </div>
</div>


<style>
    #background-section {
        background: url('/images/LoginBG/B9.jpg') center center/cover no-repeat !important;
    }

    .format-pre pre {
        background: #49483e;
        color: #f7f7f7;
        padding: 10px;
        font-size: 14px;
    }

    .swal-wide {
        width: 850px !important;
    }
</style>

@section Scripts {
@await Html.PartialAsync("_ValidationScriptsPartial")
}

<script>
    var ForgotPassword = function () {
        if (!$("#frmForgotPassword").valid()) {
            return;
        }

        var _frmForgotPassword = $("#frmForgotPassword").serialize();
        $("#btnForgotPassword").prop("disabled", true);
        $("#btnForgotPassword").val("Please Wait...");

        $("#btnForgotPassword").LoadingOverlay("show", {
            background: "rgba(165, 190, 100, 0.5)"
        });
        $("#btnForgotPassword").LoadingOverlay("show");

        $.ajax({
            type: "POST",
            url: "/Account/ForgotPassword",
            data: _frmForgotPassword,
            success: function (result) {
                $("#btnForgotPassword").LoadingOverlay("hide", true);
                $('#btnForgotPassword').removeAttr('disabled');
                $("#btnForgotPassword").val("Reset Password");
                if (result.IsSuccess) {
                    location.href = "/Account/ForgotPasswordConfirmation";
                }
                else {
                    Swal.fire({
                        title: result.AlertMessage,
                        icon: "warning"
                    }).then(function () {
                        setTimeout(function () {
                            $('#Email').focus();
                        }, 400);
                    });
                }
            },
            error: function (errormessage) {
                $("#btnForgotPassword").LoadingOverlay("hide", true);
                $("#btnForgotPassword").val("Reset Password");
                $('#btnForgotPassword').removeAttr('disabled');
                //Swal.fire({ title: errormessage.responseText, icon: 'warning' });
                Swal.fire({
                    html: '<pre>' + errormessage.responseText + '</pre>',
                    customClass: "swal-wide"
                });
            }
        });
    }
</script>