@model AMS.Models.AssetViewModel.AssetCRUDViewModel

<table class="CustomBlueTable" id="tblCommentHistoryInPrint" style="width:100%;" border="1">
    <thead>
        <tr>
            <th>Comment</th>
            <th>Comment By</th>
            <th>Comment Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listCommentCRUDViewModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @String.Format("{0:f}", item.CreatedDate)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#tblCommentHistoryInPrint").DataTable({
        });
    });
</script>